<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <!-- 공통 설정 파일 삽입 -->
    <div th:replace="~{/common/fragments/config :: ConfigFragment}"/>

    <script th:inline="javascript" type="text/javascript" th:src="@{/js/common/fragments/header.js}"></script>
    <link th:inline="css" th:href="@{/css/common/fragments/header.css}" rel="stylesheet"/>

    <script th:inline="javascript">let oauthUserInfo = /*[[${oauth}]]*/ {};</script>
</head>

<body class="container">
    <!--Header 영역-->
    <header th:replace="~{/common/fragments/header :: HeaderFragment}"></header>

    <!--Content 내용 영역-->
    <div class="content-main">

    </div>

    <!--  팝업 영역  -->
    <div class="popup-main">
        <div class="popup-main-close-btn-box">
            <button class="popup-main-close-btn" onclick="popupMainClose()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="popup-main-box">

        </div>
    </div>

</body>
</html>

