<div class="groupView-box">

    <div class="groupView-title-box">
        <img />
<!--        <h1 th:text="${groupInfo.groupNm}"></h1>-->
        <h1>TEST</h1>
    </div>


    <div class="groupView-info-box">

        <div class="groupView-info-limit-box" >
            <div class="groupView-title">
                <i class="fa-solid fa-user-group"></i>
                <span ></span>
            </div>

            <div class="groupView-title">
                <i class="fa-regular fa-clock"></i>
                <span ></span>
                <span ></span>
                <span ></span>
            </div>
        </div>

        <div class="groupView-info-dc-box">
            <span class="groupView-title"><i class="fa-solid fa-comment" id="groupDc_icon"></i> 그룹 설명</span>
            <pre></pre>
        </div>
    </div>

    <div class="groupView-game-box">
        <span class="groupView-title"><i class="fa-solid fa-heart"></i> 이런 사람을 선호해요</span>

        <div class="groupView-gameNm">
            <img />
            <span></span>
        </div>



    </div>


</div>



<link th:inline="css" th:href="@{/css/group/groupView.css}" rel="stylesheet"/>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/group/groupView.js}"></script>

<script th:inline="javascript">var groupInfo = /*[[${groupInfo}]]*/ {};</script>