<div class="groupView-box">

    <div class="groupView-title-box">
        <img />
        <h1></h1>
    </div>


    <div class="groupView-info-box">

        <div class="groupView-info-limit-box" >
            <div class="groupView-title">
                <i class="fa-solid fa-user-group"></i>
                <span ></span>
            </div>

            <div class="groupView-title">
                <i class="fa-regular fa-clock"></i>
                <span ></span>
                <span ></span>
                <span ></span>
            </div>
        </div>

        <div class="groupView-info-dc-box">
            <span class="groupView-title"><i class="fa-solid fa-comment" id="groupDc_icon"></i> 그룹 설명</span>
            <pre></pre>
        </div>
    </div>

    <div class="groupView-game-box">
        <span class="groupView-title"><i class="fa-regular fa-lightbulb"></i> 이런 사람을 선호해요</span>

        <div class="groupView-gameNm">
            <img />
            <span></span>
        </div>

        <div class="groupView-gameInfo">
            <div class="groupView-gameInfo-col">
                <div class="groupView-gameInfo-col-item">
                    <input type="text" >
                    <label>티어</label>
                    <span>골드</span>
                </div>
                <div class="groupView-gameInfo-col-item">
                    <input type="text" >
                    <label>라인</label>
                    <span>탑</span>
                </div>
            </div>
            <div class="groupView-gameInfo-col">
                <div class="groupView-gameInfo-col-item">
                    <input type="text" >
                    <label>티어</label>
                    <span>골드</span>
                </div>
                <div class="groupView-gameInfo-col-item">
                    <input type="text" >
                    <label>라인</label>
                    <span>탑</span>
                </div>
            </div>
        </div>
    </div>


</div>



<link th:inline="css" th:href="@{/css/group/groupView.css}" rel="stylesheet"/>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/group/groupView.js}"></script>