<div class="group-box">
    <!-- # 선호 게임 선택창  -->
    <div class="userGameInfo-box" >
        <div class="custom-img-select userGameInfo-select" id="userGameInfoSelect" style="min-width: 50px;">
            <div class="selected-item" id="selectedItem"></div>
            <div class="dropdown" id="dropdown">

            </div>
        </div>

        <button class="bt" style="min-width: 50px;color:white;" onclick="groupNew()">
            <i class="fa-solid fa-plus"></i>
            그룹 생성
        </button>
    </div>

    <!-- # 추천 그룹 -->
    <div class="rcm-group-box">

        <div class="rcm-group-title">
            <i class="fa-solid fa-lightbulb" ></i>
            <span>이런 그룹을 추천해요</span>
        </div>

        <div class="rcm-group-content">
            <button class="rcm-group-item-btn prev" id="prev" aria-label="Previous" type="button" ><i class="fa-solid fa-angle-left"></i></button>

            <div class="rcm-group-item-list">

            </div>

            <button class="rcm-group-item-btn next" id="next" aria-label="Next" type="button"><i class="fa-solid fa-angle-right"></i></button>

        </div>
    </div>

    <!-- # 모든 그룹 -->
    <div class="all-group-box">
        <div class="all-group-title">
            <i class="fa-solid fa-list-ul"></i>
            <span>ALL</span>
        </div>

        <div class="all-group-content-box">

        </div>

    </div>

</div>

<link th:inline="css" th:href="@{/css/group/group.css}" rel="stylesheet"/>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/group/group.js}"></script>
