<div class="group-box">
    <!-- # 선호 게임 선택창  -->
    <div class="userGameInfo-box" >
        <div class="userGameInfo-select" id="userGameInfoSelect">
            <div class="selected-item" id="selectedItem"></div>
            <div class="dropdown" id="dropdown">

            </div>
        </div>

        <button class="bt" style="color:white;" onclick="groupNew()">
            <i class="fa-solid fa-plus"></i>
            그룹 생성
        </button>
    </div>

    <!-- # 추천 그룹 -->
    <div class="rcm-group-box">

        <div class="rcm-group-title">
            <i class="fa-solid fa-lightbulb" ></i>
            <span>이런 그룹을 추천해요</span>
        </div>

        <div class="rcm-group-content">
            <button class="rcm-group-item-btn prev" id="prev" aria-label="Previous" type="button" ><i class="fa-solid fa-angle-left"></i></button>

            <div class="rcm-group-item-list">
                <div th:each="i : ${#numbers.sequence(1, 10)}" class="rcm-group-item-box">
                    <div class="rcm-group-item-img">
                        <img th:src="@{/images/gameImg/lol.png}">
                    </div>
                    <div class="rcm-group-item-dc-box">
                        <div class="dc-title-box">
                            <span>［</span>
                            <div class="dc-title">자유랭 5인팟 구함 <span th:text="${i}">1</span></div>
                            <span>］</span>
                        </div>
                        <div class="dc-content">
                            그룹 설명이다
                        </div>
                        <div class="dc-limit">
                            <div class="dc-limit-info">
                                <div>
                                    <i class="fa-solid fa-user"></i>
                                    <span>5 / 10</span>
                                </div>
                                <div>
                                    <i class="fa-regular fa-clock"></i>
                                    <span>22:00 ~ 24:00</span>
                                </div>
                            </div>
                            <div class="dc-limit-btn-box">
                                <button class="dc-limit-btn bt"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="rcm-group-item-btn next" id="next" aria-label="Next" type="button"><i class="fa-solid fa-angle-right"></i></button>

        </div>
    </div>

    <!-- # 모든 그룹 -->
    <div class="all-group-box">
        <div class="all-group-title">
            <i class="fa-solid fa-list-ul"></i>
            <span>ALL</span>
        </div>

        <div class="all-group-content">

            <div th:each="i : ${#numbers.sequence(1, 10)}" class="all-group-item-box">
                <div class="all-group-item-img">
                    <img th:src="@{/images/gameImg/lol.png}">
                </div>
                <div class="all-group-item-dc-box">
                    <div class="dc-title-box">
                        <span>［</span>
                        <div class="dc-title">자유랭 5인팟 구함 <span th:text="${i}">1</span></div>
                        <span>］</span>
                    </div>
                    <div class="dc-content">
                        그룹 설명이다
                    </div>
                    <div class="dc-limit">
                        <div class="dc-limit-info">
                            <div>
                                <i class="fa-solid fa-user"></i>
                                <span>5 / 10</span>
                            </div>
                            <div>
                                <i class="fa-regular fa-clock"></i>
                                <span>22:00 ~ 24:00</span>
                            </div>
                        </div>
                        <div class="dc-limit-btn-box">
                            <button class="dc-limit-btn bt"><i class="fa-solid fa-arrow-right-to-bracket"></i></button>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<link th:inline="css" th:href="@{/css/group/group.css}" rel="stylesheet"/>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/group/group.js}"></script>
