.groupView-box{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin:0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    min-height: 1000px;
}

.groupView-title-box{
    display: flex;
    gap:20px;
    align-items: center;
}
.groupView-title-box img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.groupView-info-box, .groupView-game-box{
    display: flex;flex-direction: column; gap:40px;
}

.groupView-game-box{
    margin-top: 20px;
}
.groupView-box .groupView-title{
    font-size: 18px;
}
.groupView-info-limit-box{
    display: flex;gap:30px
}

.groupView-info-dc-box{
    display: flex; gap: 10px;
    flex-direction: column;
}

.groupView-info-dc-box span{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 10px;
}

.groupView-info-dc-box pre{
    min-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0 20px;
    font-size: 15px;
}

.groupView-gameNm{
    display: flex;
    gap: 10px;
    align-items: center;
}

.groupView-gameNm img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border: 10px;
}



.groupView-gameInfo-col-item {
    position: relative;
    width: 300px;
    margin-left: 50px;
    margin-top: 100px;
}

.groupView-gameInfo-col-item input {
    font-size: 15px;
    color: #222222;
    width: 300px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
}

input::placeholder { color: #aaaaaa; }
input:focus { outline: none; }

span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;  /* right로만 바꿔주면 오 - 왼 */
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
}

label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 20px;
    bottom: 8px;
    transition: all .2s;
}

input:focus ~ label, input:valid ~ label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
}

input:focus ~ span, input:valid ~ span {
    width: 100%;
}