
/* 전체 박스*/
.group-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1450px;
    padding: 50px 100px;
    gap: 50px;
}

/* 선호 게임 목록*/
.userGameInfo-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
}


/* # 추천 그룹*/
.rcm-group-box{
    border-bottom: 1px #d3d3d391 solid;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.all-group-title{
    font-size: 17px;
    font-weight: 600;
    width: 800px;
    margin: 0 auto;
}

.rcm-group-title{
    font-size: 17px;
    font-weight: 600;
    padding: 0 50px;
}

.rcm-group-content{
    width: 100%;
    height: 300px;
    gap:20px;
    display: flex;
    align-items: center;
}

.rcm-group-item-list{
    width: 100%;
    overflow: hidden;
    height: 300px;
}

.rcm-group-item-box, .all-group-item-box{
    min-width: 250px;
    border-radius: 20px;
    border:none;
    padding: 0 10px;
}

.all-group-item-box{
    width: 250px;
    height: 300px;
    padding: 0;
}

.rcm-group-item-btn{
    min-width: 25px;
    width: 25px;
    height: 25px;
    font-size: 1rem;
    background: rgba(233,233,233, 0.9);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.rcm-group-item-img, .all-group-item-img{
    height: 140px;
    border-radius: 20px 20px 0 0;
    border: 1px solid rgba(59, 72, 89, 1);
}
.rcm-group-item-img img, .all-group-item-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.rcm-group-item-dc-box, .all-group-item-dc-box{
    background-color: rgba(59, 72, 89, 0.5);
    height: 160px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    border-radius: 0 0 20px 20px;
}

.dc-title-box{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dc-title-box .dc-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dc-content{
    flex: 1;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 최대 2줄까지 표시 */
    overflow: hidden;
    text-overflow: ellipsis;
    color:lightgrey;
}

.dc-limit{
    display: flex;
    gap:10px;
    font-size: 13px;
    color:lightgrey;
    align-items: center;
    justify-content: space-between;
}

.dc-limit-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.all-group-box{
    /*border-top:1px #d3d3d391 solid;*/
    flex: 1;
    /*padding: 50px 0;*/
    margin: 0 50px;
    padding-bottom: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.all-group-content-box{
    margin: 0 auto;
    padding: 20px 0;
}

.all-group-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 설정 */
    gap: 20px; /* 요소 사이의 간격 조절 */
}

.dc-limit-btn-box{
    display: flex;
    gap: 5px;
    align-items: center;
}
.dc-limit-info-btn{
    width: 40px;
}
.dc-limit-join-btn{
    width: 55px;
}


/*.slick-track {*/
/*    width: auto !important;*/
/*}*/